.build-*/
.codelite/
.externalNativeBuild/
.gradle/
.idea/
.vs/
build/*/

*.gradle
*.iml
*.sln
*.xcworkspace
*.workspace

gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
gradlew
gradlew.bat
local.properties
Makefile
premake5.exe
premake5
