/.build-*/
/.codelite/
/.gradle/
/.idea/
/.vs/
/bin/
/build/
/lib/
/obj/
/third_party/.tablegen/

/*.gradle
/*.gwks
/*.iml
/*.sln
/*.workspace
/*.xcworkspace
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/Makefile

premake5.exe
premake5
