<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaztin.myapp"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="MyApp"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".MainActivity"
            android:label="MyApp"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.DeviceDefault.Light">

            <meta-data
                android:name="android.app.lib_name"
                android:value="MyApp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
