name: CI (Linux)

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, linux]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        lfs: true

    - name: Generate project files
      run: premake5 gmake2

    - name: Build project
      run: make config=release_x86_64 -j4 # Only 4 threads because compiling LLVM eats a lot of RAM per thread.
